.contact-page{
    background-image: url('../../../image/my-blog/sign.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 833px;
}