.hire-me{
    font-size: 30px;
    text-decoration: none;
    background-color: transparent!important;
    border: 1px solid #4dc5af;
    display: inline-block;
    padding: 0px 30px;
    color: #4dc5af!important;
    border-radius: 10px;
    position: relative; 
    z-index: 1;
}
.hire-me::before{
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #34495e;
    color: white;
    border-radius: 10px;
    transition: .5s;
    z-index: -1;
}
.hire-me:hover::before{
    width: 100%;
    color: white;
    
}