.header_icon{
    color: #ebe71f;
}
.sticky{
    position: fixed!important;
    display: inline-block;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 1px #a5d0e0;
    /* background-color: #10273a; */
}
.myNav{
    /* position: fixed!important; */
    background-color: #10273a;
}